<nav>
    <div class="nav-wrapper  container">
      <a href="/" class="brand-logo">Topic Reminder</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a  href="<%= navlink %>"><%= nav %></a></li>
        <li><a href="#">Details</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </nav>